@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.bg-primary {
    background-color: #1DD100;
    color: rgb(3, 7, 18);
    border-radius: 12px;

}

.bg-banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
    /* position: absolute; */
}

/* .ragtange {

    left: 898px;
    right: -898px;
    top: 615px;
    bottom: -615px;


} */

.ragtange .card {
    border-bottom: 3px solid rgb(29, 209, 0);
    border-radius: 24px;

    background: rgb(255, 255, 255);
}

.dot {
    border: 2px dashed rgb(255, 255, 255);
}

.dot2 {
    border-bottom: 1px dashed rgba(3, 7, 18, 0.2);
}




.ticketSection {
    box-sizing: border-box;
    border-top: 2px solid rgb(29, 209, 0);
    border-radius: 88px 88px 0px 0px;

    background: rgb(247, 248, 248);
}

.btn-p {
    border-radius: 12px;
    background: rgba(3, 7, 18, 0.05);
    width: 232px;
    height: 56px;
}

.seat-selection-container {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    background-color: #f7f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bus-layout h1 {
    padding: 20px;
    border-radius: 12px;
}

.bus-seat-layout button {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 12px;
    border-radius: 12px;
    background: rgb(235, 230, 230);

}




th {
    font-size: medium;
}

.btn-bg-green {
    background-color: #1DD100;
}

.termCondition a {
    text-decoration: underline;
}